<html lang="zh">
<head>
    <%- include("./_partials/head.ejs", {page}) %>
    <style>
        <%
            let style = "";
                style += `
                        #icon-fish-${data.fish.id}{
                            background-image: url("${data.fish.icon}");
                        }`;
                if (data.fish.hasIconDark){
                    style+=`
                            @media (prefers-color-scheme: dark) {
                                #icon-fish-${data.fish.id}{
                                    background-image: url("${data.fish.iconDark}");
                                }
                            }`;
                    }
        %>
        <%- style;%>
    </style>
</head>
<body class="bg-background-light-10 dark:bg-background-dark-80">
<header>
    <%- include("./_partials/header/navbar.ejs") %>
</header>
<main>
    <%- include("./_partials/main/detail-bar.ejs", {data: {fish: data.fish}}) %>
    <div class="w-container">
        <div class="board markdown mt-[-3rem] mb-4">
            <div class="mt-[-1rem] md:mt-auto">
                <h2 id="body">
                    介绍
                </h2>
                <%- data.fish.body; %>
                <h2 id="download">
                    下载
                </h2>
                <%
                let downloads = "";
                for (const sourceI in data.fish.sources) {
                    const source = data.fish.sources[sourceI]
                    downloads += "<p>";
                    downloads += include("./_partials/main/component/source.ejs", {
                        data: {
                            fish: data.fish,
                            source: sourceI,
                            sourceTag: source
                        }
                    })
                    downloads += "</p>"
                }
                %>
                <%- downloads %>

            </div>
        </div>
        <script>
            renderMarkdown();
        </script>
    </div>
</main>
<footer>
    <%- include("./_partials/footer.ejs") %>
</footer>
</body>
</html>