<html lang="zh">
<head>
    <%- include("./_partials/head.ejs", {page}) %>
    <style>
        <%
            let style = "";
                style += `
                        #icon-fish-${data.fish.id}{
                            background-image: url("${data.fish.icon}");
                        }`;
                if (data.fish.hasIconDark){
                    style+=`
                            @media (prefers-color-scheme: dark) {
                                #icon-fish-${data.fish.id}{
                                    background-image: url("${data.fish.iconDark}");
                                }
                            }`;
                    }
        %>
        <%- style;%>
    </style>
</head>
<body class="bg-background-light-10 dark:bg-background-dark-80">
<header>
    <%- include("./_partials/header/navbar.ejs") %>
</header>
<main>
    <%- include("./_partials/main/detail-bar.ejs", {data: {fish: data.fish}}) %>
    <div class="w-container">
        <div class="board markdown dark:bg-background-dark-70">
            <h2 id="body">
                介绍
            </h2>
            <%- data.fish.body; %>
            <h2 id="download">
                下载
            </h2>
        </div>
        <script>
            renderMarkdown();
        </script>
    </div>
</main>
<footer>
    <%- include("./_partials/footer.ejs") %>
</footer>
</body>
</html>